/* FOR DEFAULT GLOBAL STYLING INI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FOR CENTERING ALL CONTENTS */

body {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f0f9ed;
  padding: 20px;
}

/* FOR CONTAINER */

.container {
  width: 50%;
  height: 80%;
}

.button-icon {
  width: 27%;
  padding: 0 12px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  margin: 0 0 24px;
  padding: 8px 12px;
  border: none;
  background: none;
  cursor: pointer;
}

.btn p {
  font-weight: bold;
}

.btn:hover {
  border-radius: 15px;
  background: rgba(235, 235, 235, 0.66);
}

.icon {
  margin-right: 10px;
}

.card {
  background-color: white;
  border: 1px solid rgb(185, 253, 185);
  border-radius: 12px;
  box-shadow: 0 20px 25px 5px rgba(0, 0, 0, 0.1),
    0 10px 10px -3px rgba(0, 0, 0, 0.04);
}
.card-header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 24px 24px 0 24px;
}

.header-svg {
  margin: 0 auto;
  width: 73px;
  height: 73px;
  border-radius: 15px;
  background-color: #04992ced;
  margin-bottom: 10px;
}

.sprout-svg {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  filter: brightness(0) invert(1);
}

.header-title-text {
  padding-top: 4px;
}

.header-title-text h2 {
  color: #04581aed;
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 10px;
}
.header-title-text p {
  color: rgb(98, 97, 97);
}

.middle {
  margin: 0;
  padding: 24px 24px 24px;
  padding-bottom: 24px;
}

.middle h3 {
  margin: 15px 0;
  color: #04581aed;
  font-size: medium;
  font-weight: lighter;
}

.middle p {
  color: rgb(98, 97, 97);
  font-size: small;
}

.form {
  width: 50%;
  padding: 24px;
  border: 2px solid rgb(230, 255, 230);
  border-radius: 13px;
  cursor: pointer;
}

.signup-form {
  display: inline-flex;
  gap: 15px;
}

.button {
  border: none;
  background: none;
  text-align: start;
  cursor: pointer;
}

.form:hover {
  border: 2px solid lightgreen;
}

.middle-svg {
  width: 50px;
  height: 50px;
  background-color: rgb(201, 212, 255);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-tractor-svg {
  width: 50px;
  height: 50px;
  background-color: rgb(182, 255, 182);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-svg {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(20%) sepia(73%) saturate(2291%)
    hue-rotate(186deg) brightness(97%) contrast(96%);
}

.tractor-svg {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(29%) sepia(70%) saturate(370%)
    hue-rotate(100deg);
}

.image-title-text {
  text-align: start;
  background: none;
  width: 100%;
  border: none;
  cursor: pointer;
}

.verification {
  margin-top: 16px;
  border: 1px solid oklch(0.924 0.12 95.746);
  border-radius: 15px;
  padding: 9px 13px;
  background-color: rgb(255, 245, 245);
}

.verification-last-form {
  display: inline-flex;
}

.verification-svg {
  margin-right: 10px;
}

.verification p {
  margin-top: 5px;
  color: oklch(50.791% 0.17189 25.799);
  font-size: 13px;
  font-weight: lighter;
}

.protection-shield {
  margin-top: 3px;
  width: 18px;
  height: 18px;
}

.last {
  padding: 24px;
  border-top: 1px solid rgb(194, 194, 194);
}

label {
  color: rgb(56, 56, 56);
  font-size: 14px;
}

.link a {
  text-decoration: none;
  color: #04581aed;
}

.link a:hover {
  text-decoration: underline;
}

/* FOR RESPONSIVENES */

@media (min-width: 900px) and (max-width: 1200px) {
  body {
    height: 20vh;
  }

  .container {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .button-icon {
    width: 100%;
  }

  .form {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: 100px) and (max-width: 900px) {
  body {
    height: 100vh;
    margin-bottom: 100px;
  }
  .container {
    margin-top: -100px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .button-icon {
    width: 100%;
  }

  .signup-form {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .form {
    width: 100%;
    flex-wrap: wrap;
  }

  .button {
    width: 100%;
  }
}
