/* FOR CONTAINER */

.farm-profile-container {
  border: 1px solid rgb(227, 255, 227);
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 3px 13px -10px rgb(0, 0, 1);
  margin-bottom: 10vh;
}

/* FOR HEADER */

.farm-profile-header {
  background: linear-gradient(to right, #f0fdf4 0%, #fefce8 100%);
  padding: 24px 24px 10px 24px;
}

/* FOR HEADER H3 TAGS FARM INFORMATION */
.farm-profile-header h3 {
  color: rgb(0, 67, 0);
  font-weight: lighter;
  font-size: 17px;
  margin-bottom: 10px;
}

/* FOR HEADER P TAGS */
.farm-profile-header p {
  color: rgb(74, 74, 74);
}

/* FOR FARM-PROFILE-BODY */
.farm-profile-body {
  padding: 42px 24px 24px 24px;
}

/* FOR FORM CONTAINER */

/* FOR FORM LABEL */

.form-container label {
  color: rgb(0, 64, 0);
  font-size: 16px;
}

/* FOR INPUT BOX */

.input-box {
  margin-bottom: 15px;
}

/* FOR FORM INPUT */
.input-box input {
  border: 1px solid lightgreen;
  border-radius: 14px;
  width: 100%;
  padding: 15px;
  background-color: rgb(234, 255, 234);
  margin-top: 5px;
}

/* FOR INPUT HOVERING */
.input-box input:hover {
  background-color: rgb(219, 255, 219);
}

.input-box sub {
  color: rgb(99, 99, 99);
}

.input-box input::placeholder {
  font-size: 14px;
}

/* FOR FARM-PROFILE-BUTTON  */

.farm-profile-btn {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  width: max-content;
  background-color: rgb(0, 117, 0);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}

.farm-profile-btn:hover {
  background-color: rgba(12, 137, 12, 0.863);
}

.farm-profile-btn img {
  margin-right: 15px;
  filter: brightness(0) invert(1);
}
