.search-card {
  background-color: white;
  margin-bottom: 25px;
  border-radius: 15px;
  overflow: hidden;
}

.search-card button {
  cursor: pointer;
  padding: 15px 15px 15px 25px;
  color: rgb(49, 49, 49);
  border: none;
  background-color: transparent;
  font-size: 15px;
}

.search-card button:hover {
  background-color: rgb(221, 245, 255);
}

.header {
  background: linear-gradient(to right, #f0fdf4 0%, #fefce8 100%);
  padding: 24px 24px 2px 24px;
  width: 100%;
}

.header h3 {
  margin-bottom: 5px;
  width: max-content;
  font-weight: lighter;
  font-size: 17px;
  color: #094c29;
}

.header p {
  width: max-content;
  color: rgb(71, 71, 71);
  margin-bottom: 5px;
}
.input-card {
  width: 100%;
  padding: 50px 24px 24px 24px;
  border: none;
  background-color: white;
  border-radius: 12px;
  border-top: 1px;
}

.search-box {
  display: inline-flex;
  border: 1px solid rgb(188, 255, 188);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.input-card input {
  width: 100%;
  border: none;
  font-size: 15px;
  outline: none;
  padding: 15px;
}

.search-box img {
  width: 22px;
  height: 22px;
  filter: brightness(1) saturate(100%) invert(50%) sepia(0%) saturate(0%)
    hue-rotate(179deg) brightness(92%) contrast(89%);
}

.input-card input:focus {
  border: none;
  background: none;
}

.farm-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.86em;
  height: 40vh;
  margin-bottom: 10vh;
}

.farm-container img {
  position: relative;
  margin-top: -1px;
  width: 18px;
  height: 18px;
  filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(370%)
    hue-rotate(100deg);
}

.farm-container p {
  color: rgb(48, 48, 48);
  margin-bottom: 30px;
}

.farms {
  background-color: white;
  border-radius: 13px;
  border: 1px solid rgb(209, 255, 209);
  padding: 25px;
  width: 32%;
  border-top: 8px solid oklch(0.627 0.194 149.214);
  transition: all ease 0.4s;
}

.farms:hover {
  box-shadow: 0 0 15px -5px rgb(0, 0, 1);
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.farm-name {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.farms h3 {
  color: rgb(0, 57, 0);
  font-size: 17px;
  font-weight: lighter;
}

.favorite {
  margin-top: -45px;
  margin-left: 395px;
  position: absolute;
  border: none;
  cursor: pointer;
  padding: 12px 3px 6px 12px;
}

.favorite:hover {
  border-radius: 8px;
  background-color: rgb(255, 242, 214);
}

.favorite:hover img {
  filter: brightness(0);
}

.favBtn {
  width: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%);
}

/* ACTIVE (RED HEART) */
.favBtn.active {
  filter: invert(28%) sepia(93%) saturate(7484%) hue-rotate(356deg)
    brightness(96%) contrast(109%);
  transform: scale(1.1);
}

.owner {
  display: inline-flex;
}

.location {
  display: flex;
  margin-bottom: 7px;
}

.location p {
  color: rgb(56, 56, 56);
  font-size: 17px;
}

.phone-number {
  color: green;
  font-weight: lighter;
  margin-bottom: 25px;
}

.farm-container button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background-color: oklch(0.627 0.194 149.214);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fafdf9;
  width: 35%;
  height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
  padding: 20px;
}

.close-modal {
  font-size: 30px;
  position: absolute;
  top: 50px;
  margin-left: 31%;
  cursor: pointer;
}

.close-modal:hover {
  background-color: rgb(202, 202, 202);
  border-radius: 20%;
  height: 35px;
}

.close-modal:active {
  border: 1px solid;
  border-radius: 5px;
}

.farm-container button:hover {
  background-color: oklch(51.304% 0.14744 143.068);
}

@media (min-width: 100px) and (max-width: 599px) {
  .farm-container {
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 100vh;
  }

  .favorite img {
    position: relative;
    margin: 1px;
  }

  .farms {
    width: 100%;
  }

  .modal-content {
    width: 90%;
  }
  .close-modal {
    font-size: 30px;
    position: absolute;
    top: 50px;
    margin-left: 80%;
    cursor: pointer;
  }
}

.no-farms {
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 40vh;
}

.message {
  text-align: center;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 75px;
}

.no-farms h2 {
  margin-bottom: 10px;
  color: gray;
}
.no-farms p {
  color: gray;
}

.no-farms img {
  width: 50px;
  height: 50px;
  filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%)
    contrast(90%);
  margin-bottom: 10px;
}
